<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Directories where the  base .pdf image is located -->
    <add key="UBHBaseDirectoryTEST" value="\\pig\DocImage\Vendors_Test\"/>
    <add key="UBHBaseDirectoryPROD" value="\\pig\DocImage\Vendors\"/>
    
    <!-- Directory where the new .pdf will go -->
    <add key="UBHVendorDirectoryTEST" value="\\pig\DocImage\Vendors_Test\" />
    <add key="UBHVendorDirectoryPROD" value="\\pig\DocImage\Vendors\" />
    
    <!-- Distribution List for internal reviewers -->
    <add key="ACHReviewEmailList" value="APACHReview@swn.com" />
    
    <!-- Exception email shared inbox address -->
    <add key="APExceptionEmailAddress" value="APACHExceptions@swn.com" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="cnODS" connectionString="data source=HOU-SQLHUB01;Initial Catalog=ODS;Integrated Security=SSPI; persist security info = False;" providerName="System.Data.SqlClient;" />
  </connectionStrings>
  <!-- Mail settings -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="AP_ACH_Daily@swn.com">
        <network defaultCredentials="true" host="swnsmtp" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>